@model LostWKND.Models.Post

<div class="post-header">
    <div class="title">
        @Model.Title
    </div>
    <div class="sub-title">
        When I Move You Move (Just Like That)
    </div>
    <img class="header-image" />
</div>