@model List<LostWKND.Models.Post>

@{
    ViewBag.Title = "Index";
}

<div class="category">
    <div class="categories">
        
            @foreach (var post in Model)
            {
                @Html.Partial("Post", post);
            }
    </div>
</div>
