@model LostWKND.Models.Post

<div style="background-image: url(@Path.Combine("/Content/Images/", string.Format("{0}.{1}", Model.FeatureImage.Name, Model.FeatureImage.Extension)))">
    <div class="text">
        <div class="title">@Model.Title</div>
        <div class="description">@Model.Description</div>
    </div>
</div>