
@{
    ViewBag.Title = "Index";
}

<div class="home">
    <div class="current-issue-cover">
        <img id="current-issue-cover-image" src="~/Content/Images/LOSTWKND_Cover_290715_OFW.jpg" />
    </div>


</div>
