.all-issues-item {
    width: 150px;
}

.all-issues-item > img {
    width: 100%;
}

.all-issues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.magazine {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}